.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App .App-zoneLettre{
  padding: 60px;
  background-color: gray;
}

.App .App-zoneMot{
  padding: 60px;
  font-size: 35px;
}
.App .containerDessin{
  margin: auto;
  width: 200px;
  padding-top: 20px;
}
.nbEssai{
  margin-top: 45px;
}